##  Non-staging area  ##
########################

_/


##  compiled files  ##
######################

/bin/
/doc/javadoc/
*.class
/*.jar
/*.info
/*.info.*
/*.dvi
/*.dvi.*
/*.ps
/*.ps.*
/*.pdf
/*.pdf.*


##  backup files  ##
####################

*~
\#*\#
.\#*
*.swp
*.bak


##  distribution files  ##
##########################

/dist/*/*/*
!/dist/*/*/PKGBUILD


##  auxiliary files  ##
#######################

/*.aux
/*.cp
/*.cps
/*.fn
/*.ky
/*.log
/*.op
/*.ops
/*.pg
/*.toc
/*.tp
/*.vr

