##  Non-staging area  ##
########################

_/


##  compiled files  ##
######################

/bin/
/doc/javadoc/
*.class
/*.jar


##  backup files  ##
####################

*~
\#*\#
.\#*
*.swp
*.bak


##  distribution files  ##
##########################

/dist/*/*/*
!/dist/*/*/PKGBUILD


##  non-included files  ##
##########################

/dev/ecj.jar
/ecj.jar

